
<div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
          <img src="https://th.bing.com/th/id/OIP.G_b3bt_RuAFJ0kuWHhXBmQHaEU?w=309&h=180&c=7&r=0&o=5&pid=1.7" alt="Lights" class="img-fluid" style="width:100%">
          <div class="sunny">
            <p>Ready To Add Some Photos?</p>
          </div>
        
      </div>
      <div class="row-md-8">
        <div class="buttons">
        <button type="button" class="btn btn-outline-warning" (click)="googleStore()">Google PlayStore</button>
        <button type="button" class="btn btn-outline-warning" (click)="appStore()">AppStore</button>

      </div>
      
     
    </div>
    </div>
</div>