.sunny{

    margin-top: 7%;
    left: 120px;
    position: relative;

    font-weight: bold;
   font-size: xx-large;
    
}

.buttons{
    /* left: 280px; */
    padding-left: 20%;
    margin-right: 10%;
}