<app-header></app-header>
<hr />
<div class="row">
  <div class="col-md-3">
    <ul>
      <li class="nav-tab construction">
        <a class="nav-link" routerLink="/login">Login Here</a>
      </li>
      <li class="nav-tab construction">
        <a class="nav-link" routerLink="/upload">Upload Here</a>
      </li>
      <li class="nav-tab construction">
        <a class="nav-link" routerLink="/Photos">Photos</a>
      </li>
      <li class="nav-tab construction">
        <a class="nav-link" routerLink="/Album">Album</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- 902407813618-oebvin64gfo5q92tv6910kncsph9u4s8.apps.googleusercontent.com Id -->
<!-- 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 -->
