<div class="row">
  <div class="col-md-4" *ngFor="let item of albumListCopy">
    <button
    type="button"
    class="btn btn-dark"
    (click)="viewAlbum(item.id)"
  >
    View Album
  </button>
    <div class="sunnyCard">
      <img
        class="card-img-top mx-auto mt-auto mb-auto sunnyimg"
        src="{{ item.coverPhotoBaseUrl }}"
        alt=""
      />
      <h5>{{ item.title }}</h5>
      <div class="buttonsss">
        <button
          type="button"
          class="btn btn-danger"
          (click)="addPhotoToThisAlbum(item.id)"
        >
          Add Photos
        </button>
      </div>
      <hr />
    </div>
  </div>
</div>
<div class="row-md-8" style="text-align: center;">
  <h3 style="padding-top: 10px; color: green;">Create new Album</h3>
  <div class="buttons">
    <a routerLink="/createAlbum" class="btn btn-outline-warning"
      >Create Album</a
    >
  </div>
</div>
