/* You can add global styles to this file, and also import other style files */
ul li{
    list-style: none;
}

.navbar{
    width: 100%;
    display: block;
}
.textcustom{
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}