<div class="row">
  <div class="col-md-4" *ngFor="let item of albumListCopy">
    <a routerLink="/albumView" class="btn btn-dark">View Album</a>
    <div class="sunnyCard">
      <img
        class="card-img-top mx-auto mt-auto mb-auto sunnyimg"
        src="{{ item.coverPhotoBaseUrl }}"
        alt=""
      />
      <h5>{{ item.title }}</h5>
      <div class="buttonsss">
        <button
          type="button"
          class="btn btn-danger"
          (click)="addPhotoToThisAlbum(item.id)"
        >
          Add Photos
        </button>
      </div>
      <hr />
    </div>
  </div>
</div>
<div class="row-md-8">
  <h3>Create new Album</h3>
  <div class="buttons">
    <a routerLink="/createAlbum" class="btn btn-outline-warning"
      >Create Album</a
    >
  </div>
</div>
