
<div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
          <img src="https://th.bing.com/th?q=Album+Cover+Collage&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=strict&t=1&mw=247" alt="Lights" class="img-fluid" style="width:30%">
          <div class="sunny">
            <p>The Album you create are shown here</p>
          </div>
        
      </div>
      <div class="row-md-8">
      <div class="buttons">
      <button type="button" class="btn btn-outline-primary" (click)="createAlbum()">Google PlayStore</button>

    </div>
    
   
  </div>
  </div>
</div>
