<div class="row">
  <div class="col-md-8">
    <div class="container-fluid">
      <img
        src="https://th.bing.com/th/id/OIP._mLvRuhNkdAtKuFKPhIGtwHaEK?w=283&h=180&c=7&r=0&o=5&pid=1.7"
        alt="Lights"
        class="img-fluid"
        style="width: 30%"
      />
      <div class="sunny">
        <p>The Album you create are shown here</p>
      </div>
    </div>
    <div class="row-md-8">
      <div class="buttons">
        <a routerLink="/createAlbum" class="btn btn-outline-warning">Create Album</a> 
        
      </div>
    </div>
  </div>
</div>
