.sunny {
  margin-top: 7%;
  right: 70px;
  position: relative;
  font-weight: bold;
  font-size: large;
}

.container-fluid {
  margin-top: 20%;
  position: relative;
  left: 193px;
}

.sunnyCard img {
  height: 300px;
  padding-top: 10px;
}

.buttons {
  left: 180px;
  padding-top: 13px;
}

.buttonsss {
  left: 190px;

  margin-top: 10px;
  padding: 10px;
  margin-right: 10px;
  
}
